@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
body {
  font-family: "Fira Sans", monospace;
  background-color: burlywood;
  text-align: center;
}
a {
  display: block;
  margin-bottom: 2rem;
  font-size: 3vh;
  font-weight: bold;
  color: initial;
}
a.button {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
h1 {
  color: darkolivegreen;
  font-family: "Oswald";
  font-size: 5vh;
}
p {
  color: rgb(88, 78, 78);
  font-size: 1cm;
  font-weight: 900;
}